{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Reservations" %}{% endblock %}

{% block custom_head_js %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="{% static 'js/nectar_reservations.js'%}"></script>
{% endblock %}

{% block main %}
<div class="block-title mb-2">
  <h3>Reservations <span class="badge bg-info">BETA</span></h3>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>You can reserve high performance resources (GPUs and large memory) on the Nectar cloud, up to the limits for your allocation. Your past and current reservations are listed below. To create a new reservation, select "create reservation".</p>
    <p>For more information about reservations and how to use this service, check out <a href="https://support.ehelp.edu.au/support/solutions/articles/6000258960-nectar-gpu-large-memory-reservation-service" target="_blank">this article</a> on the Nectar Support website.</p>
    <p class="alert alert-info"><strong>NOTE:</strong> All times are displayed in <strong>UTC time</strong>.<p>
  </div>
</div>
{{ table.render }}
<hr />
<div class="row equal">
  <div class="col-sx-12 col-sm-6 mb-3 justify-content-center align-items-center">
    <div class="panel panel-info stats-panel shadow h-100">
      <div class="panel-body d-flex align-items-middle">
        <h2 class="reservation-stats-value mr-4">{{ limits.totalReservationsUsed }} <small>out of</small> {{ limits.maxReservations }}</h2>
        <div class="reservation-stats-description">
          <h4>reservations used</h4>
          <h6>in your project allocation</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sx-12 col-sm-6 mb-3 justify-content-center align-items-center">
    <div class="panel panel-primary stats-panel shadow h-100">
      <div class="panel-body d-flex align-items-middle">
        <h2 class="reservation-stats-value mr-4">{{ limits.totalDaysUsed }} <small>out of</small> {{ limits.maxDays }}</h2>
        <div class="reservation-stats-description">
          <h4>days reserved</h4>
          <h6>in your project allocation</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center mb-5">
    <h3 class="mb-4">We'd love your feedback!</h3>
    <h4>Thank you for using the Reservation System (Beta).</h4>
    <p>There are limited capacity and flavors in this release, but more servers and flavors will be coming online in the next couple of months. In the meantime, we'd love your feedback! <strong>So please let us know about your experience using the reservation system via the online feedback form.</strong></p>
    <a class="btn btn-default mt-4 mb-5" title="Reservation System Feedback" href="https://docs.google.com/forms/d/e/1FAIpQLSddgKesBdril36Xk-VkVF4ejazbUM5i82DelJDQbNCt1d9IWg/viewform">Feedback Form</a>
  </div>
</div>
{% endblock %}
